.body-container {
    display: flex;
    height: calc(100vh - 72px); /* Adjust height to account for Navbar */
    background-color: white;
    overflow: hidden;
    margin-top: 72px; /* Add margin to avoid content hiding behind Navbar */
}

.names-list {
    width: 30%;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border-right: 1px solid #ccc;
    margin-left: 32px;
}

.names-list.selected {
    background-color: rgb(27, 25, 27); /* Highlight selected name */
    color: white;
}

.name-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.name-item:hover {
    background-color: #e0e0e0;
    color: #2c3e50;
}

.data-display {
    width: 70%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.buttons-container button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border: 2px solid #2c3e50;
    background-color: white;
    color: #2c3e50;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.buttons-container button:hover,
.buttons-container button.active {
    background-color: #2c3e50;
    color: white;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-box {
    width: calc(25% - 10px); /* Four items per row */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.item-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.item-box img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.item-box p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-box.file {
    /* background: url('path-to-pdf-icon.png') no-repeat center center; */
    background-size: cover;
    background-color: #fff;
}

.item-box.image {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
