/* src/Navbar.css */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    margin-right: 2rem;
    margin-left: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    padding: 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.logo img {
    height: 70px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.class-name h3 {
    margin: 0;
    font-size: 26px;
    color: #2c3e50;
    font-family: 'Lora', serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
}

.ct-login {
    display: flex;
    align-items: center;
}

.ct-login .nav-link {
    margin-right: 20px;
    font-size: 16px;
    color: #2c3e50;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    position: relative; /* Ensure proper positioning */
    transition: color 0.3s ease, transform 0.3s ease; /* Transition for scaling */
}

.ct-login .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Space for underline */
    height: 2px; /* Thickness of underline */
    background: #43a047; /* Underline color */
    transform: scaleX(0); /* Start with 0 width */
    transition: transform 0.3s ease; /* Animate underline width */
}

.ct-login .nav-link:hover {
    color: #43a047;
    transform: scale(1.05); /* Increase size slightly */
}

.ct-login .nav-link:hover::after {
    transform: scaleX(1); /* Expand underline on hover */
}

.ct-login button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #2c3e50;
    background-color: white;
    color: #2c3e50;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.ct-login button:hover {
    background-color: #43a047;
    color: #FFFFFF;
    transform: scale(1.05); /* Increase size slightly */
    border-color: #000; /* Change border color */
    border: 1px solid #2c3e50;
}
