.body-container {
    display: flex;
    height: calc(100vh - 72px); /* Adjust based on the navbar height */
    background-color: #f0f0f0;
}

.names-list {
    width: 30%; /* 3:7 ratio */
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.name-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.name-item:hover {
    background-color: #e0e0e0;
}

.data-display {
    width: 70%; /* 3:7 ratio */
    padding: 20px;
    background-color: white; /* Ensures the background color is separate from the navbar */
    display: flex;
    flex-direction: column;
}

.files-list, .images-list {
    flex: 1; /* Allow these to grow and fill the available space */
    overflow-y: auto; /* Ensure they have their own scrollbars */
    margin-bottom: 20px;
}

.file-item, .image-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
