<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time table</title>
    <link rel="stylesheet" href="time-table.css">
</head>
<body>
    <div class="time-table">
        <h1>Time Table</h1>
    </div>
    <div class="schedule">
        <table  align="center">
            <tr class="upper">
                <td class="first">Day/hr/Time</td>
                <th>09:20am - 10:20 am</th>
                <th>10:20am - 11:20am</th>
                <th>11:20am - 11:30am</th>
                <th>12:30pm - 01:30pm</th>
                <th>01:30pm - 02:30pm</th>
                <th>02:30pm - 03:30pm</th>
            </tr>
            <tr class="second" align="center">
                <td class="Day">MON</td>
                <td>ACD</td>
                <td>R&A</td>
                <td>AI</td>
                <td rowspan="6" class="Lunch">Lunch Break</td>
                <td colspan="2">AD-1:1201</td>
            </tr>
            <tr class="second" align="center">
                <td class="Day">TUE</td>
                <td>AI</td>
                <td>ACD</td>
                <td>CN</td>
                <td>MPMC</td>
                <td>CRT</td>
            </tr>
            <tr class="second" align="center">
                <td class="Day">WED</td>
                <td>MPMC</td>
                <td>CN</td>
                <td>R&A</td>
                <td>AI</td>
                <td>CRT</td>
            </tr>
            <tr class="second" align="center">
                <td class="Day">THUR</td>
                <td>ACD</td>
                <td colspan="2">PSD</td>
                <td>MPMC</td>
                <td>R&A</td>
            </tr>
            <tr class="second" align="center">
                <td class="Day">FRI</td>
                <td>MPMC</td>
                <td>CN</td>
                <td>ACD</td>
                <td colspan="2">AI LAB:4309</td>
            </tr>
            <tr class="second" align="center">
                <td class="Day">SAT</td>
                <td>R&A</td>
                <td>AI</td>
                <td>CN</td>
                <td colspan="2">MPMC LAB</td>
            </tr>
        </table>
    </div>
</body>
</html>